@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.tab {
  @include mixins.toRem('width', 150);
  @include mixins.toRem('height', 100);
  @include mixins.toRem('line-height', 18);
  @include themeUtils.themify(themes.$themes) {
    background: themeUtils.themed('tabBackground');
    color: themeUtils.themed('tabFontOffFocus');
  }
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

  &.selected {
    background-color: transparent;
    @include themeUtils.themify(themes.$themes) {
      color: themeUtils.themed('fontColor');
    }
  }
}