@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.indicatorsTable {
  & td:nth-child(2),
    td:nth-child(3),
    td:nth-child(5),
    td:nth-child(7){
    font-size: 12px;
  }
  & td:last-of-type {
    text-align: center;
    & svg {
      vertical-align: middle;
    }

    & path {
      @include themeUtils.themify(themes.$themes) {
        fill: themeUtils.themed('fontColor');
      }
    }
  }
}
