@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.legendContainer{
  @include mixins.toRem('gap', 10);
  @include mixins.toRem('width', 259);
  @include themeUtils.themify(themes.$themes) {
    color: themeUtils.themed('fontColor');
  }
  display: flex;
  flex-direction: column;
  .legendItem {
    @include mixins.toRem('gap', 10);
    cursor: pointer;
    display: flex;
    align-items: center;
    &.shadowed {
      opacity: 0.3;
    }
    .indicatorValueBox {
      @include mixins.trblProp('padding', true, 9, 10);
      color: black;
      &.boxBorder {
        box-shadow: 0px 0px 0px 3px #00A3E0 inset;
      }
    }
  }
}