@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.dashWithBarChartWrapper {
  @include mixins.toRem('padding', 15);
  @include mixins.toRem('gap', 15);
  @include themeUtils.themify(themes.$themes) {
    background: themeUtils.themed('secondaryDashBackground');
    border: 1px solid themeUtils.themed('secondaryDashBorder');
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  .dashHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &.headerAligned {
      @include mixins.toRem('gap', 15);
      flex-direction: column-reverse;
      align-items: flex-end;
      .titleCentred {
        width: 100%;
        text-align: center;
      }
    }
    .dashTitle {
      @include mixins.toRem('font-size', 18);
      @include mixins.toRem('line-height', 12);
      @include themeUtils.themify(themes.$themes) {
        color: themeUtils.themed('fontColor');
      }
    }
  }
}
