@import "../../vars.scss";
@import "../../calc-font-size";

$white: #ffffff;
$light-gray: #717f8f;
$dark-gray: #42505d;
$orange: #ff6900;
$light-orange: #ff9c55;
$blue: #45a6dd;
$dark-blue: #206689;

.custom-calendar {
  background: $dark-gray;

  .react-datepicker {
    &__header--custom {
      background: $dark-gray;
      color: $white;
    }

    &__triangle {
      display: none;
    }

    &__day-name {
      color: $white;
      margin: 0.05rem;
    }

    &__day {
      border-radius: 0;
      margin: 0.05rem;
      height: auto;

      color: $white;
      background: $blue;

      &--disabled {
        color: $dark-gray;
        background: $light-gray;
      }
      &--in-range {
        background: $orange;
      }
      &--highlighted {
        background: $orange;
      }
      &--in-selecting-range {
        background: $light-orange;
      }
      &--selecting-range-start {
        background: $orange;
      }
      &--outside-month {
        background: $dark-blue;
      }
    }
  }
}

.custom-input {
  width: 14rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background: #cecece;

  &__value {
    margin-left: 0.5rem;
  }
  &__icon {
    width: 2rem;
    height: 100%;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c0c0c0;

    & > svg {
      width: 64%;
    }
  }
}

.react-datepicker-popper {
  margin-top: 0px;
}

.custom-header {
  width: 14rem;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__row {
    display: flex;
    gap: 5px;
    justify-content: stretch;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__button {
    border: none;
    color: $white;
    background: $light-gray;

    &:disabled {
      opacity: 0.5;
    }
  }

  &__select {
    background: $light-gray;
    color: $white;
    width: 100%;
  }
}
