@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.dropdownBasic {
  @include mixins.toRem('gap', 6);
  @include themeUtils.themify(themes.$themes) {
    border-color: themeUtils.themed('borderColor');
    color: themeUtils.themed('fontColor');
  }
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 0.5rem;
  cursor: pointer;
  width: inherit;

  .contentBox {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .iconBox,
  .contentBox {
    @include mixins.toRem('padding-top', 11);
    @include mixins.toRem('padding-bottom', 11);
  }

  .iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    & path {
      @include themeUtils.themify(themes.$themes) {
        fill: themeUtils.themed('fontColor');
      }
    }
    &.reversed {
      transform: rotateX(180deg);
    }
  }

  &.dropdownLabelSecondary {
    .iconBox,
    .contentBox {
      @include mixins.toRem('padding-top', 9);
      @include mixins.toRem('padding-bottom', 9);
    }
  }

  &.dropdownLabelStraight {
    @include mixins.toRem('padding-left', 12);
    @include mixins.toRem('padding-right', 16);

    &.separated {
      .contentBox {
        @include mixins.toRem('padding-left', 6);
        @include themeUtils.themify(themes.$themes) {
          border-left-color: themeUtils.themed('borderColor');
        }
        border-left: 2px solid;
      }
    }
  }

  &.dropdownLabelReversed {
    @include mixins.toRem('padding-left', 8);
    @include mixins.toRem('padding-right', 8);
    flex-direction: row-reverse;

    &.separated {
      .contentBox {
        @include mixins.toRem('padding-right', 6);
        @include themeUtils.themify(themes.$themes) {
          border-right-color: themeUtils.themed('borderColor');
        }
        border-right: 2px solid;
      }
    }
  }
}
