@import "../ds_res/styles/variables.scss";

.wrapper {
  background: $light-marengo;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.datePickerWrapper {
  width: 100%;
  background: $d3D5263;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}
