@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.offset {
  position: relative;
  .radarChart {
    & .recharts-polar-grid-concentric-polygon {
      @include themeUtils.themify(themes.$themes) {
        fill: themeUtils.themed('pentagonBackgroundFill');
        stroke: themeUtils.themed('pentagonBackgroundStroke');
      }
    }
  }
}

