@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';


.contentWrapper {
  @include themeUtils.themify(themes.$themes) {
    background-color: themeUtils.themed('pageBackground');
  }
  width: 100%;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 10;

  &.containerExpanded {
    @include mixins.toRem('margin-top', -292);
  }

  .controlsContainer {
    @include mixins.trblProp('padding', true, 15);
    display: flex;
    justify-content: space-between;
    align-content: center;

    .selectorsWithTableControlBtnContainer {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-content: center;

      .selectorsContainer {
        display: flex;
        justify-content: space-between;
        @include mixins.toRem('gap', 10);
      }

      .tableControlBtn {
        @include mixins.trblProp('padding', true, 8);
        @include themeUtils.themify(themes.$themes) {
          border: 2px solid themeUtils.themed('borderColor');
        }
        border-radius: 0.5rem;

        & path {
          @include themeUtils.themify(themes.$themes) {
            fill: themeUtils.themed('fontColor');
          }
        }
        & svg {
          vertical-align: middle;
        }
      }
    }
  }
}
