@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.chartWrapper {
  width: 100%;
  height: 90%;
  line {
    @include themeUtils.themify(themes.$themes) {
      stroke: themeUtils.themed('fontColor');
    }
  }
  text {
    @include themeUtils.themify(themes.$themes) {
      fill: themeUtils.themed('fontColor');
    }
  }
}
