@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';
.theme-dark {
  height: 100%;
  max-height: 847px;
}
.theme-light {
  height: 100%;
  max-height: 847px;
}
