@import '../../styles/variables';

.tabsContainer {
  display: flex;
  .tab {
    padding: 0 16px 10px;
    font-size: 16px;
    cursor: pointer !important;
    border-bottom: 3px solid rgba($light-blue, 0);
    transition: 0.3s ease-out;
    &.selected {
      border-bottom: 3px solid rgba($light-blue, 1);
      animation: bottom-line-appear ease-out 0.3s;
      transition: 2s;
      @keyframes bottom-line-appear {
        from {
          border-bottom: 3px solid rgba($light-blue, 0);
        }
        to {
          border-bottom: 3px solid rgba($light-blue, 1);
        }
      }
    }
  }
}
