@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.persentageValueInBar {
  @include themeUtils.themify(themes.$themes) {
    color: themeUtils.themed('fontColor');
  }
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}