@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.dashWrapper {
  @include mixins.trblProp('padding', 'true', 15, 15, 11, 15);
  @include themeUtils.themify(themes.$themes) {
    background-color: themeUtils.themed('secondaryDashBackground');
    border: 1px solid themeUtils.themed('secondaryDashBorder');
  }
  & .dashletDropdown {
    width: max-content;
    & .dropdownBasic {
      @include themeUtils.themify(themes.$themes) {
        background-color: themeUtils.themed('secondaryDropdownBackground');
      }
    }
  }
}
