@import "../../../../ds_res/styles/variables";
.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  padding: 0 30px;
  * {
    color: $d3D5263
  }
}
