@use  'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.indicatorsTotalDashWrapper {
  @include mixins.toRem('padding', 15);
  @include mixins.toRem('gap', 15);
  @include themeUtils.themify(themes.$themes) {
    background: themeUtils.themed('primaryDashBackground');
    border: 1px solid themeUtils.themed('primaryDashBorder');
  }
  display: flex;
  flex-direction: column;
  .filtersContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .dashletDropdown {
      width: 33.3%;
    }
  }

  .contentContainer {
    @include mixins.toRem('padding-left', 54);
    display: flex;

    .legendContainer{
      @include mixins.trblProp('padding', true, 40, 15);
      @include mixins.toRem('gap', 10);
      display: flex;
      flex-direction: column;
      width: 100%;

      .legendItem {
        @include mixins.toRem('gap', 10);
        display: flex;
        align-items: center;

        .indicatorValueBox {
          @include mixins.trblProp('padding', true, 9, 10);
        }
      }
    }
  }
}
