@import "../../styles/variables";

.tableContainer {
  width: 100%;
}

.table {
  border-spacing: 30px;
  width: 100%;
  //border-collapse: collapse;

  th, td {
    padding: 12px 15px;
  }

  thead {
    tr {
      text-align: right;
      th {
        cursor: pointer;
        .arrowsContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .upArrow {
            &.activeArrow {
              fill: $d78D64B;
            }
          }
          .downArrow {
            &.activeArrow {
              fill: $dE21A1A;
            }
          }
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
      .stats {
        display: flex;
        font-size: 10px;
        .arrow {
          fill: $d78D64B;
          font-size: 10px;
          &.redArr {
            rotate: 180deg;
            fill: $dE21A1A;
          }
        }
      }
    }
    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    tr:last-of-type {
      border-bottom: 2px solid #673AB7;
    }
  }
}
