@import "../../styles/variables";

.tableContainer {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;


  th, td {
    padding: 12px 15px;
  }

  thead {
    tr {
      th {
        font-weight: normal;

        div {
          white-space: nowrap;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .arrowsContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 6px;
            gap: 2px;
            align-items: center;

            .upArrow, .downArrow {
              fill: #666F78;
            }

            .upArrow {
              &.activeArrow {
                fill: $d78D64B;
              }
            }

            .downArrow {
              rotate: 180deg;

              &.activeArrow {
                fill: $dE21A1A;
              }
            }
          }
        }
      }
    }
  }


  tbody {
    tr {
      td {
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .stats {
            margin-left: 5px;
            display: flex;
            font-size: 14px;

            .arrow {
              fill: $d78D64B;
              font-size: 14px;

              &.redArr {
                rotate: 180deg;
                fill: $dE21A1A;
              }
            }
          }
        }
      }
    }
    tr:nth-child(odd) {
      background-color: #e5e8f1;
    }
  }
}
