$orange: #ff6900;
$light-orange: #ff9c55;

$white: #ffffff;
$black: #000000;
$light-gray: #717f8f;
$dark-gray: #42505d;

$light-marengo: #455d70;
$marengo: #42505d;
$dark-marengo: #394a58;

$light-blue: #45a6dd;
$blue: #206689;
$dark-blue: #003356;

$d68798B: #68798b;
$d3D5263: #3d5263;
$d78D64B: #78d64b;
$d909CAA: #909caa;
$d68798B: #68798b;
$dB0DCF4: #b0dcf4;
$dE21A1A: #e21a1a;
$d3E4951: #3e4951;

$outlinedBorder: 3px solid $blue;
