// SKIM-IT start
// Charts colors

$positive-trend-chart-color: #78D64B;
$negative-trend-chart-color: #FF6900;
$positive-trend-chart-area: rgba(120, 214, 75, 0.5);
$negative-trend-chart-area: rgba(255, 105, 0, 0.3);
$neutral-chart-color: #68798B;
$neutral-chart-area: rgba(104, 121, 139, 0.3);


$medium-dashlet-background: #455D70;
$light-dashlet-background: #364654;
$page-background: #394A58;
$service-bar-background: #394A58;
$navigation-bar-background: #394A58;
$toggler-background: #455D70;
$dropdown-list-background: black;
$dropdown-list: #000;
$font-color: white;
$border-color: white;
$row-even-background: rgba($color: #000000, $alpha: 0.1);
$row-odd-background: rgba($color: #000000, $alpha: 0.05);

// Logo colors

$main-logo-color: #F15140;


// Border colors


:export {
  positiveTrendChartColor: $positive-trend-chart-color;
  positiveTrendChartArea: $positive-trend-chart-area;
  negativeTrendChartColor: $negative-trend-chart-color;
  negativeTrendChartArea: $negative-trend-chart-area;
  neutralChartColor: $neutral-chart-color;
  neutralChartArea: $neutral-chart-area;
}
// SKIM IT end
