$orange: #ff6900;
$light-orange: #ff9c55;

$white: #ffffff;
$black: #000000;
$light-gray: #717f8f;
$dark-gray: #42505d;

$marengo: #42505d;
$dark-marengo: #394a58;

$light-blue: #45a6dd;
$blue: #206689;
$dark-blue: #003356;
