@import "../../styles/variables";

.cardsContainer {
  display: flex;
  gap: 20px;
  justify-content: stretch;
  .card {
    border-radius: 16px;
    box-shadow: $boxShadow;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    padding: 30px;
    .title {
      font-size: 18px;
    }
    .value {
      font-size: 24px;
      font-weight: bold;
    }
    .stats {
      display: flex;
      .arrow {
        fill: $d78D64B;
        &.redArr {
          rotate: 180deg;
          fill: $dE21A1A;
        }
      }
    }
  }
}
