@import "../../styles/variables";

.roundDiagramContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  .tableContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .tableRow {
      border-radius: 8px;
      box-shadow: $boxShadow;
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-column-gap: 30px;
      padding: 20px 10px;
      align-items: center;

      .value {
        font-size: 20px;
        font-weight: bold;
      }

      .stats {
        display: flex;
        font-size: 12px;
        align-items: center;
        .arrow {
          fill: $d78D64B;
          height: 18px;
          &.redArr {
            rotate: 180deg;
            fill: $dE21A1A;
          }
        }
      }
    }
  }
  .pieContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    .pie {
    }
    .centerText {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 300px;
      height: 300px;
      top: 50%;
      left: 50%;
      margin-left: -150px;
      margin-top: -150px;

      .title {
        font-size: 15px;
      }
      .value {
        font-size: 28px;
        font-weight: bold;
      }
      .stats {
        display: flex;
        font-size: 15px;
        align-items: center;
        .arrow {
          fill: $d78D64B;
          height: 18px;
          &.redArr {
            rotate: 180deg;
            fill: $dE21A1A;
          }
        }
      }
    }
  }
}

