@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.indicatorsPageWrapper {
  @include mixins.trblProp('padding', true, 0, 17);
  @include themeUtils.themify(themes.$themes) {
    color: themeUtils.themed('fontColor');
    background-color: themeUtils.themed('pageBackground');
  }
  grid-template-rows: 1fr 1.71fr;
  height: 100%;
  & section {
    min-width: 0;
  }
  .topDashboardsLine {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 2fr;
    &.hide{
      visibility: hidden;
    }
  }
}

