@import "../../../../ds_res/styles/variables.scss";

$vertical-spacing: 0.1rem;
$horizontal-spacing: 0.2rem;

.table {
  overflow-y: scroll;
  table {
    border-collapse: separate;
    border-spacing: $horizontal-spacing $vertical-spacing;
    color: $white;
    width: 100%;

    th {
      padding: 0;
      height: 100px;
    }

    tbody {
      td {
        height: 3.3rem;
        padding: 0.3rem;
        text-align: center;
      }
      tr {
        background: $marengo;
      }
      tr:nth-child(odd) {
        background: $dark-marengo;
      }
    }
  }
}

.headerWrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.headerTitle {
  background: $dark-blue;
  padding: 0.6rem;
  margin-bottom: $vertical-spacing;
  cursor: pointer;

  text-align: center;
  font-size: 10px;
  font-weight: normal;
}

.headerFilterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  background: $marengo;
}

.dateCellWrapper {
  text-align: center;

  :nth-child(3) {
    color: $d909CAA;
  }
}
