@use 'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.table {
  @include mixins.toRem('line-height', 12);
  @include themeUtils.themify(themes.$themes) {
    color: themeUtils.themed('fontColor');
  }
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px 5px;
  & tr {
    &:nth-of-type(odd) {
      @include themeUtils.themify(themes.$themes) {
        background-color: themeUtils.themed('rowOddBackground');
      }
    }
    &:nth-of-type(even) {
      @include themeUtils.themify(themes.$themes) {
        background-color: themeUtils.themed('rowEvenBackground');
      }
    }
  }
  .cell {
    vertical-align: middle;
    @include mixins.toRem('height', 60);
    @include mixins.trblProp('padding', true, 0, 5);
  }
}
