@use 'ds_res/styles/mixins.scss';
@use 'ds_res/styles/Colors.module.scss' as Colors;

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px 5px;
  @include mixins.toRem('line-height', 12);
  color: Colors.$font-color;
  & tr {
    &:nth-of-type(odd) {
      background-color: Colors.$row-odd-background;
    }
    &:nth-of-type(even) {
      background-color: Colors.$row-even-background;
    }
  }
  & th, td {
    @include mixins.toRem('height', 60);
    @include mixins.trblProp('padding', true, 0, 5);
  }
}
