@use "../../styles/_variables.scss";

.customWrapper {
  min-width: 14rem;
}

.customCalendar {
  background: variables.$dark-gray;

  :global {

  .react-datepicker {
    &__header--custom {
      background: variables.$dark-gray;
      color: variables.$white;
    }

    &__triangle {
      display: none;
    }

    &__day-name {
      color: variables.$white;
      margin: 0.05rem;
    }

    &__day {
      border-radius: 0;
      margin: 0.05rem;
      height: auto;

      color: variables.$white;
      background: variables.$light-blue;

      &--disabled {
        color: variables.$dark-gray;
        background: variables.$light-gray;
      }
      &--in-range {
        background: variables.$orange;
      }
      &--highlighted {
        background: variables.$orange;
      }
      &--in-selecting-range {
        background: variables.$light-orange;
      }
      &--selecting-range-start {
        background: variables.$orange;
      }
      &--outside-month {
        background: variables.$blue;
      }
    }

    &__month-text {
      border-radius: 0;
      margin: 0.05rem;
      color: variables.$white;
      background: variables.$light-blue;
    }
  }

  .react-datepicker__month {
    &--selected {
      background: variables.$orange;
    }
    &--disabled {
      color: variables.$dark-gray;
      background: variables.$light-gray;
    }
  }
  .react-datepicker__month-wrapper {
    :hover {
      background: variables.$light-orange;
    }
  }
}
}

.customInput {
  width: 14rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background: #cecece;
}
.customInputValue {
  margin-left: 0.5rem;
}
.customInputIcon {
  width: 2rem;
  height: 100%;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c0c0c0;

  & > svg {
    width: 64%;
  }
}

.react-datepicker-popper {
  margin-top: 0px;
}

.customHeader {
  width: 14rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.customHeaderRow {
  display: flex;
  gap: 5px;
  justify-content: stretch;
  margin-left: 5px;
  margin-right: 5px;
}

.customHeaderButton {
  border: none;
  color: variables.$white;
  background: variables.$light-gray;

  &:disabled {
    opacity: 0.5;
  }
}

.customHeaderSelect {
  background: variables.$light-gray;
  color: variables.$white;
  width: 100%;
}

