@use 'ds_res/styles/Colors.module.scss' as Colors;

$themes: (
  light: (
    pageBackground: map_get(Colors.$lightTheme, pageBackground),
    fontColor: map_get(Colors.$lightTheme, fontColor),
    borderColor: map_get(Colors.$lightTheme, borderColor),
    primaryDashBorder: map_get(Colors.$lightTheme, primaryDashBorder),
    secondaryDashBorder: map_get(Colors.$lightTheme, secondaryDashBorder),
    dashBorder: map_get(Colors.$lightTheme, dashBorder),
    rowOddBackground: map_get(Colors.$lightTheme, rowOddBackground),
    rowEvenBackground: map_get(Colors.$lightTheme, rowEvenBackground),
    selectBackground: map_get(Colors.$lightTheme, selectBackground),
    primaryDashBackground: map_get(Colors.$lightTheme, primaryDashBackground),
    secondaryDashBackground: map_get(Colors.$lightTheme, secondaryDashBackground),
    dropdownListBackground: map_get(Colors.$lightTheme, dropdownListBackground),
    tabBackground: map_get(Colors.$lightTheme, tabBackground),
    tabFontOffFocus: map_get(Colors.$lightTheme, tabFontOffFocus),
    buttonBackground: map_get(Colors.$lightTheme, buttonBackground),
    ),
  dark: (
    pageBackground: map_get(Colors.$darkTheme, pageBackground),
    fontColor: map_get(Colors.$darkTheme, fontColor),
    borderColor: map_get(Colors.$darkTheme, borderColor),
    primaryDashBorder: map_get(Colors.$darkTheme, primaryDashBorder),
    secondaryDashBorder: map_get(Colors.$darkTheme, secondaryDashBorder),
    rowOddBackground: map_get(Colors.$darkTheme, rowOddBackground),
    rowEvenBackground: map_get(Colors.$darkTheme, rowEvenBackground),
    selectBackground: map_get(Colors.$darkTheme, selectBackground),
    primaryDashBackground: map_get(Colors.$darkTheme, primaryDashBackground),
    secondaryDashBackground: map_get(Colors.$darkTheme, secondaryDashBackground),
    dropdownListBackground: map_get(Colors.$darkTheme, dropdownListBackground),
    tabBackground: map_get(Colors.$darkTheme, tabBackground),
    tabFontOffFocus: map_get(Colors.$darkTheme, tabFontOffFocus),
    buttonBackground: map_get(Colors.$darkTheme, buttonBackground),
  ),
);
