@use  'ds_res/styles/mixins.scss';
@use 'ds_3/src/Base/assets/styles/themes.scss';
@use 'ds_3/src/Base/assets/styles/themeUtils.scss';

.EASDDashWrapper {
  @include mixins.toRem('padding', 15);
  @include mixins.toRem('gap', 55.5);
  @include themeUtils.themify(themes.$themes) {
    background: themeUtils.themed('primaryDashBackground');
    border: 1px solid themeUtils.themed('primaryDashBorder');
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .filtersContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;

    .dashletDropdown {
      max-width: calc((100% - 10px)/ 1.6);
    }
  }

  .contentContainer {
    @include mixins.toRem('padding-left', 60);
    @include mixins.toRem('gap', 70);
    display: flex;
    align-items: center;

    & > div:first-child {
      width: 34% !important;
    }
  }

  .linkContainer {
    display: flex;
    @include mixins.toRem('gap', 10);
    justify-content: center;
  }
}
